p, td {
    margin: 2px!important;
    padding: 0!important;
}

.table_grid th, .table_grid td {
    border: 1px solid black;
    text-align: center;
    align-content: center;
}

.table_grid__p {
    border: 1px solid black;
    width: auto;
    height: auto;
    text-align: center;
}

th.weekend {
    background-color: #e6e6e6!important;
}

td.weekend {
    background-color: #e6e6e6!important;
}

.table_id {
    padding: 0 3px!important;
}

.fio {
    align-content: center;
}

.fio_link, .division_link, .division_fio__link {
    text-decoration: none;
}

.department {
    height: 27px;
}

.fio_link {
    display: block;
    width: 200px;
    height: 27px;
    align-content: center;
}

.fio_link:hover, .division_link:hover {
    text-decoration: underline;
}

.cell_event {
    cursor: pointer;
}

.alert-message {
    position: absolute;
    right: 160px;
    top: 110px;
}
