.table_grid th, .table_grid td {
    border: 1px solid black;
    text-align: center;
}

.table_grid__p {
    border: 1px solid black;
    width: auto;
    height: auto;
    text-align: center;
}

.weekend {
    background-color: #0d6efd!important;
    color: white;
}

.fio {
    align-content: center;
}

.fio_link, .division_link {
    text-decoration: none;
}

.fio_link:hover, .division_link:hover {
    text-decoration: underline;
}
