p, td {
    margin: 2px!important;
    padding: 0!important;
}

.table__grid th, .table__grid td {
    border: 1px solid black;
    text-align: center;
    align-content: center;
}

.table__grid-p {
    border: 1px solid black;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 25px;
}

th.weekend {
    background-color: #e6e6e6!important;
}

td.weekend {
    background-color: #e6e6e6!important;
}

.table_id {
    padding: 0 3px!important;
}

.fio {
    align-content: center;
}

.fio__link, .division__link, .division__fio-link {
    text-decoration: none;
}

.department {
    height: 27px;
}

.fio__link {
    display: block;
    height: 31px;
    align-content: center;
}

.column {
    width: 32px;
}

.sp__column {
    width: 31px;
}

.sp__input {
    cursor: pointer;
}

.fio__link:hover, .division__link:hover {
    text-decoration: underline;
}

.cell__event {
    cursor: pointer;
}

.alert-message {
    position: absolute;
    right: 160px;
    top: 110px;
}

.employee__img {
    width: 400px;
}

.table__stat th, .table__stat td {
    border: 1px solid black;
    text-align: center;
    align-content: center;
}

.table__stat-th {
    padding: 0!important;
    width: 31px;
}

.table__stat-p {
    border: 1px solid black;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 25px;
}
